<div class="container">
  <div class="row">
    <h1 class="text-center">Restaurant Details</h1>

    <ul class="list-unstyled">
      <li><strong>Name:</strong> <%= @restaurant.name %></li>
      <li><strong>Address:</strong> <%= @restaurant.address %></li>
      <li><strong>Phone Number:</strong> <%= @restaurant.phone_number %></li>
      <li><strong>Category:</strong> <%= @restaurant.category %></li>
      <li><strong>Description:</strong> <%= @restaurant.description %></li>
    </ul>

    <div>
      <%= link_to "Back to index", restaurants_path %>
      <%= link_to "Delete Restaurant", restaurant_path(@restaurant), method: :Delete, data: {confirm: "Are your sure?"} %>
      <%= link_to "Edit Restaurant details", edit_restaurant_path(@restaurant) %>
      <%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %>
    </div>

  </div>
</div>